ul{
 background-color: brown; 
 position: relative;  
}
.html{
  position: relative;
  /*top: 10px;*/
  left: 10px;
  bottom: 100px;
}
li.html{
    top: -20px;
    left: 0px;
    right: 3px;
    bottom: 20px;
    /*inset: 20px;
    position: unset;*/
}
.css{
    background-color: aqua;
    position: absolute;

    top: 190px;
    left: 48px;
}