*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 5px;
}
body{
    font-size: 3em;
}

div{
    background-color: red;
    width: 50vw;
    height: 50vh;
    padding:5vw;
    margin:10vh;
    border: 1vh solid green;
    /*border-radius: 20%;*/
    font-size: 2em;
}
p{
    background-color: aqua;
    width:50%;
    height:50%;
/* em & rem */
font-size: 3em;
padding: 0.5rem;
/*padding: 0.5em;*/
margin:2em;
border: 3em;
width: 1em;
height: 2em;
}
