* {
box-sizing: border-box;
}
.parent{
    width:800px;
    background-color:blue;
}
.first{
    width:50%;
    background-color:red;
   /* padding: 30% 50%;*/
   padding:20px 45px 56px;
   /*border: 20px solid yellow;*/
  /* border-top-color:yellow;
   border-top-style: solid;
   border-top-width: 20px;
   border:dashed blue;
   box-sizing:border-box;*/
}
.second{
    width:400px;
    height: 400px;
    background-color:green;
   /* padding: 30% 50%;*/
   padding:20px 45px 56px;
   border: 8px solid rgb(10, 223, 187);
  /* border-top-color:yellow;
   border-top-style: solid;
   border-top-width: 20px;
   border:dashed blue;*/
   border-radius:50%;
   padding-top: 150px;
   outline: 10px solid rgb(28, 102, 90);
}