*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h2{
    text-align: center;
}

.outer-container{
    /*border: 1px solid black;*/
    border-radius: 1rem;
    max-width: 80%;
    margin: 0 auto;
    background: lightcyan;
    box-shadow: 3px 3px 15px black;
    padding:40px;



}

.grids{
    /* border: 1px solid black;*/
    border-radius: 1rem;
    
    display: grid;
    grid-template-rows: repeat(4 ,1fr);
    grid-template-columns: repeat( 2, 1fr);
    gap: 1rem;
}

.box-1{
    background-color: blueviolet;
    grid-row-start: span 2;
}

.box-2{
    background-color: chartreuse;
}

.box-3{
    background-color: chocolate;
    grid-row-start: span 2;
}

.box-4{
    background-color: yellow;
}

.box-5{
    background-color: rgb(235, 235, 130);
    grid-column-start: span 2;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    color: rgb(10, 9, 9);
    font-size: 3rem;

}

.box-3
.box-4{
    color: black;
}